.wrapper {
  background-color: #fff;
  height: 100vh;
  display: flex;

  .children {
    margin: auto;
    animation-name: show-modal;
    animation-duration: 1s;
  }
}

@keyframes show-modal {
  0% {
    opacity: 0.1;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
