.wrapper {
  padding: 0 20px;
  margin-bottom: 20px;
  width: 100%;
  .title {
    font-size: 24px;
    font-weight: 400;
    color: #C30005;
    margin-bottom: 20px;
  }
  .content {
    font-size: 16.5px;
    font-weight: 200;
    padding: 10px 0;
    line-height: 25.6px;
    color: #495057;
  }
}