.wrapper {
  margin-bottom: 30px;
  display: flex;
  .label {
    text-align: right;
    color: rgba(85, 85, 85, 0.8);
    text-transform: capitalize;
    padding-right: 20px;
    width: 25%;
  }
  .text {
    color: #333;
    font-size: 16px;
    width: 75%;
  }
}
