.wrapper {
  position: relative;
  p {
    color: #fff;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);

  }
}